body {
    background-image: url("images/background2.avif");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 6em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 15px 15px 25px rgb(44, 41, 41);
}

h2 {
    display: flex;
    font-size: 2em;
    font-family: fantasy;
    text-decoration: underline rgb(48, 168, 86);
}

p{
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin: 10px;
    font-family: fantasy;
}

li{
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-family: fantasy;
}
.btn {
    display: flex;
    justify-content: center; 
    color: rgb(48, 168, 86);
    align-items: center; 
    text-decoration: none;
    width: 100px;
    height: 50px;
    border: 3px solid rgb(48, 168, 86);
    background-color: #000;
    font-size: 1rem;
    border-radius: 10px;
}

.btn-center {
    display: flex;
    justify-content: center; 
    padding-top: 20px;
}

.foot{
    display: flex;
    justify-content: center;
    font-size: 1em;
}

footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(48, 168, 86);
}